{
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
      "ecmaVersion": 5,
      "sourceType": "script",
      "ecmaFeatures": {
          "jsx": false
      }
  },
  "extends": "eslint:recommended",
  "plugins": [
      "json"
  ]
}
